{{ range $host, $containersByHost := groupBy $ "Env.VIRTUAL_HOST" }}

{{ range $cluster, $containers := groupBy $containersByHost "Env.APP_CLUSTER_NAME" }}
upstream {{ $cluster }} {
  {{ range $index, $value := $containers }}
      {{ with $address := index $value.Addresses 0 }}
      server {{ $address.IP }}:{{ $address.Port }};
      {{ end }}
  {{ end }}
{{ end }}
}

server {
        #ssl_certificate /etc/nginx/certs/demo.pem;
        #ssl_certificate_key /etc/nginx/certs/demo.key;

        #gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
        server_name {{ $host }};
        proxy_buffering off;
  {{ range $cluster, $containers := groupBy $containersByHost "Env.APP_CLUSTER_NAME" }}
    {{ with $container := index $containers 0 }}
    location {{ $container.Env.APP_CLUSTER_JUNCTION }} {
        proxy_pass http://{{ $cluster }};
        include /etc/nginx/proxy_params;
    }
    {{ end }}
  {{ end }}
}
{{ end }}
